<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
  <uses-permission android:name="android.permission.USE_BIOMETRIC" />
  <uses-feature android:name="android.hardware.camera.any" android:required="false" />
  <application android:icon="@drawable/ic_alistore_launcher" android:label="AliStore Courier" android:theme="@android:style/Theme.Material.Light.NoActionBar" android:usesCleartextTraffic="${usesCleartextTraffic}">
    <service android:name=".CourierFirebaseMessagingService" android:exported="false">
      <intent-filter><action android:name="com.google.firebase.MESSAGING_EVENT" /></intent-filter>
    </service>
    <activity android:name=".MainActivity" android:launchMode="singleTop" android:exported="true">
      <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
      <intent-filter><action android:name="ALISTORE_COURIER_PUSH"/><category android:name="android.intent.category.DEFAULT"/></intent-filter>
      <intent-filter><action android:name="android.intent.action.VIEW"/><category android:name="android.intent.category.DEFAULT"/><category android:name="android.intent.category.BROWSABLE"/><data android:scheme="alistore-courier"/></intent-filter>
    </activity>
  </application>
</manifest>
